<!-- <div>
    <mat-form-field>
        <mat-label>Select Month:</mat-label>
        <mat-hint>MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker
            #dp
            startView="multi-year"
            (monthSelected)="setMonthAndYear($event, dp)"
            panelClass="example-month-picker"
        >
        </mat-datepicker>
    </mat-form-field>
</div> -->

<div class="transaction-list">
    <div *ngFor="let item of transacties">
        <mat-card style="width: 300px">
            <div>
                <mat-card-content>
                    <p>Type: {{ item.type }}</p>
                </mat-card-content>
                <mat-card-content>
                    <p>Amount: {{ item.amount }}</p>
                </mat-card-content>
                <mat-card-content>
                    <p>
                        Datetime: {{ item.dateTime.toDate().toLocaleString() }}
                    </p>
                </mat-card-content>
            </div>
            <div class="buttons">
                <button
                    mat-button
                    color="accent"
                    (click)="editTransactie(item)"
                >
                    Edit
                </button>
                <button
                    mat-button
                    color="warn"
                    (click)="deleteTransactie(item)"
                >
                    Delete
                </button>
            </div>
        </mat-card>
    </div>
</div>
