<mat-card>
    <div>
        <mat-card-content>
            <p>
                <b>{{ transactie.type }}</b>
            </p>
        </mat-card-content>
        <mat-card-content>
            <p>€{{ transactie.amount }}</p>
        </mat-card-content>
        <mat-card-content>
            <p>{{ transactie.dateTime.toDate().toLocaleDateString("nl") }}</p>
        </mat-card-content>
    </div>
    <div class="buttons">
        <button mat-button color="accent" (click)="editTransactie(transactie)">
            Edit
        </button>
        <button mat-button color="warn" (click)="deleteTransactie(transactie)">
            Delete
        </button>
    </div>
</mat-card>
