<div class="container">
    <div class="info">
        <div *ngIf="huishoudboekje">
            <!-- Display the huishoudboekje properties -->
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{ huishoudboekje.name }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-card-subtitle>
                        {{ huishoudboekje.description }}
                    </mat-card-subtitle>
                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <p><b>Beheerder:</b></p>
                    <p>{{ huishoudboekje.owner }}</p>
                </mat-card-content>
                <mat-card-content>
                    <p><b>Archived:</b></p>
                    <p>
                        {{ huishoudboekje.archive ? "waar" : "niet waar" }}
                    </p>
                </mat-card-content>
                <mat-card-content>
                    <ng-container
                        *ngIf="huishoudboekje.participants?.length! > 0"
                    >
                        <p><b>Deelnemers:</b></p>
                        <ul>
                            <li
                                *ngFor="let item of huishoudboekje.participants"
                            >
                                {{ item }}
                            </li>
                        </ul>
                    </ng-container>
                </mat-card-content>
            </mat-card>
        </div>

        <!-- Handle the case when huishoudboekje$ is null -->
        <div *ngIf="huishoudboekje === null">
            <p>Huishoudboekje not found.</p>
        </div>
    </div>
    <div class="buttons">
        <app-month-picker
            (dateChange)="onDateChange($event)"
        ></app-month-picker>
        <button
            mat-raised-button
            color="primary"
            (click)="openCreateTransactie()"
        >
            Transactie toevoegen
        </button>
        <button
            mat-raised-button
            color="primary"
            (click)="openCreateCategorie()"
        >
            Categorie toevoegen
        </button>
        <button
            mat-raised-button
            color="primary"
            (click)="openOverviewCategorie()"
        >
            Categorie overview
        </button>
    </div>
    <div class="transactions">
        <app-transactie-overview
            [date$]="selectedDate$"
        ></app-transactie-overview>
    </div>
</div>

<!-- <app-transactie-create></app-transactie-create> -->
<!-- <app-create-categorie></app-create-categorie> -->
<app-bar-chart [date$]="selectedDate$"></app-bar-chart>
<app-line-chart [date$]="selectedDate$"></app-line-chart>
