<div class="container">
    <div class="info">
        <div *ngIf="huishoudboekje$ | async as huishoudboekje">
            <!-- Display the huishoudboekje properties -->
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{ huishoudboekje.name }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Description: {{ huishoudboekje.description }}</p>
                    <p>Owner: {{ huishoudboekje.owner }}</p>
                    <p>Archived: {{ huishoudboekje.archive }}</p>
                </mat-card-content>
            </mat-card>
        </div>

        <!-- Handle the case when huishoudboekje$ is null -->
        <div *ngIf="huishoudboekje$ === null">
            <p>Huishoudboekje not found.</p>
        </div>
    </div>
    <div class="buttons">
        <app-month-picker
            (dateChange)="onDateChange($event)"
        ></app-month-picker>
        <button
            mat-raised-button
            color="primary"
            (click)="openCreateTransactie()"
        >
            Transactie toevoegen
        </button>
        <button
            mat-raised-button
            color="primary"
            (click)="openCreateCategorie()"
        >
            Categorie toevoegen
        </button>
        <button mat-raised-button color="primary" (click)="test()">test</button>
    </div>
    <div class="transactions">
        <app-transactie-overview
            [date]="selectedDate.toDate()"
        ></app-transactie-overview>
    </div>
</div>

<!-- <app-transactie-create></app-transactie-create> -->
<!-- <app-create-categorie></app-create-categorie> -->
<app-bar-chart [date]="selectedDate.toDate()"></app-bar-chart>
<app-line-chart [date]="selectedDate.toDate()"></app-line-chart>
