<div *ngIf="categorie" class="edit-container">
    <h2>Categorie bewerken</h2>
    <form #categorieForm="ngForm" (ngSubmit)="saveChanges()" class="edit-form">
      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Naam</mat-label>
          <input matInput type="text" name="name" [(ngModel)]="categorie.name" required placeholder="Voer de naam in">
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Budget</mat-label>
          <input matInput type="number" name="budget" [(ngModel)]="categorie.budget" required placeholder="Voer het budget in">
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Einddatum</mat-label>
          <input matInput type="date" name="endDate" [(ngModel)]="categorie.endDate">
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Huishoudboekje</mat-label>
          <input matInput type="text" name="huishoudboekje" [(ngModel)]="categorie.huishoudboekje" required placeholder="Voer het huishoudboekje in">
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" type="submit">Wijzigingen opslaan</button>
    </form>
  </div>
  