<app-header></app-header>
<div class="container">
  <div class="toggle-archived">
    <button mat-raised-button color="primary" (click)="toggleArchived()">
        {{ showArchived ? "Show non archived" : "Show archived" }}
    </button>
</div>

<div class="household-list" *ngFor="let item of huishoudboekjes">
    <mat-card [ngClass]="{ 'archived-item': item.archive }">
      <mat-card-header>
        <mat-card-title>{{ item.name }}</mat-card-title>
        <mat-card-subtitle>{{ item.description }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Owner: {{ item.owner }}</p>
        <p>Participants: {{ item.participants }}</p>
    </mat-card-content>
    <mat-card-actions>
        <button
            mat-button
            color="accent"
            *ngIf="!item.archive"
            (click)="goToDetail(item)"
        >
            Details
        </button>
        <button
            mat-button
            color="accent"
            *ngIf="!item.archive"
            (click)="editHuishoudboekje(item)"
        >
            Edit
        </button>
        <button
            mat-button
            color="warn"
            (click)="archiveHuishoudboekje(item)"
        >
            {{ showArchived ? "Unarchive" : "Archive" }}
        </button>
    </mat-card-actions>
</mat-card>
</div>

  <div class="new-huishoudboekje-form">
    <h2>Voeg Huishoudboekje toe</h2>
    <form #huishoudboekjeForm="ngForm" (ngSubmit)="addHuishoudboekje()">
      <mat-form-field appearance="fill">
        <mat-label>Naam</mat-label>
        <input matInput type="text" name="name" [(ngModel)]="newHuishoudboekje.name" #name="ngModel" required placeholder="Naam">
        <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
          Naam is verplicht
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Beschrijving</mat-label>
        <input matInput type="text" name="description" [(ngModel)]="newHuishoudboekje.description" placeholder="Beschrijving">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Deelnemer email</mat-label>
        <input matInput type="text" name="participants" [(ngModel)]="newHuishoudboekje.participants" placeholder="Deelnemer email">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="huishoudboekjeForm.invalid">Add</button>
    </form>
  </div>  

  <div class="new-categorie-form">
    <h2>Categorie toevoegen</h2>
    <form #newCategorieForm="ngForm" (ngSubmit)="addCategorie()">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" name="name" [(ngModel)]="newCategorie.name" #name="ngModel" required placeholder="Name">
        <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
          Naam is verplicht
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Budget</mat-label>
        <input matInput type="number" name="budget" [(ngModel)]="newCategorie.budget" #budget="ngModel" required placeholder="Budget">
        <mat-error *ngIf="budget.invalid && (budget.dirty || budget.touched)">
          Budget is verplicht
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>End date</mat-label>
        <input matInput type="date" name="endDate" [(ngModel)]="newCategorie.endDate" placeholder="End date">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Huishoudboekje</mat-label>
        <input matInput type="text" name="huishoudboekje" [(ngModel)]="newCategorie.huishoudboekje" placeholder="Huishoudboekje">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="!newCategorieForm.valid">Add</button>
    </form>
  </div>
  
</div>
