<div *ngIf="huishoudboekje" class="edit-container">
    <form (submit)="saveChanges()" class="edit-form">
      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Naam</mat-label>
          <input matInput type="text" name="name" [(ngModel)]="huishoudboekje.name" placeholder="Voer de naam in">
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Beschrijving</mat-label>
          <textarea matInput name="description" [(ngModel)]="huishoudboekje.description" placeholder="Voer de beschrijving in"></textarea>
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Deelnemer</mat-label>
          <textarea matInput name="participants" [(ngModel)]="huishoudboekje.participants" placeholder="Voer een deelnemer in"></textarea>
        </mat-form-field>
      </div>
      <div class="form-field checkbox-container">
        <mat-checkbox name="archive" [(ngModel)]="huishoudboekje.archive">Archief</mat-checkbox>
      </div>
      <button mat-raised-button color="primary" type="submit">Wijzigingen opslaan</button>
    </form>
</div>
